services:
  mysql:
    image: mysql:latest
    container_name: mysql_auth
    environment:
      MYSQL_ROOT_PASSWORD: ${DBPASS}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - devnet

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin_auth
    environment:
      PMA_HOST: mysql
      PMA_USER: root
      PMA_PASSWORD: root
    ports:
      - "8080:80"
    networks:
      - devnet

volumes:
  mysql_data:

networks:
  devnet: